/*{
    border: solid black .005px;
}*/

body {
    font-family: "Avenir Next";
}
nav, .card, .div, .container-fluid, .row,
.col, .col-1 .col-xs-1 .col-sm-1 .col-lg-3, .col-10 .col-xs-10 .col-sm-10 .col-lg-6, .col-5, .col-7, .col-12 {
    margin: 0;
    padding: 0;
    border: none;
}
nav {
    position: absolute;
    top: 0;
    z-index: 1;
    background-image: url("irrigate.jpg");
    background-size: cover;
    letter-spacing: .2vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;

    height: 100vh;
    overflow-y: hidden;
   /* white-space: nowrap; */

    scroll-margin: 0;
    scroll-padding: 0;
    scroll-snap-type: both mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: auto;
}

#sam, #osu, #vitaLite, #nav {
    color: white;
    filter: drop-shadow(.1px .1px 9px black);
}
#sam {
    text-align: left;
}
#osu, #vitaLite {
    float: right;
    letter-spacing: .18vw;
}
.nav {
    display: flex;
    justify-content: space-between;
}

/* nav */

.card {
    padding-top: 30vh;
    height: auto;
    flex: 0 0 auto;
    -webkit-overflow-scrolling: auto;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    scroll-behavior: smooth;
}
#academicH1 {
    scroll-snap-align: start;
}

#profile,#consulting,#mgmt,#contact {
    width: 100vw;
    background: url("filterLong.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: scroll;
}

#academic {
    height: auto;
    width: 100vw;

    overflow-y: scroll;
    overflow-x:hidden;
    display: inline-block;
}



/*
#fwd {
    position: absolute;
    top: 50vh;
}
#prev {
    position: absolute;
    top: 50vh;
}
img.next, img.prev {
    height: 3vh;
    opacity: .8;
}
*/


#line {
    letter-spacing: .109em;
    line-height: 1.2em;
    font-size: 2vh;
    margin-bottom: 1.25vh;
}
#scholar {
    letter-spacing: .2em;
    line-height: 1.1em;
    margin-bottom: 1.25vh;
}
h1, h2 {
    color: rgb(70, 70, 70);
    font-weight: 250;
    letter-spacing: .2em;
}

#subheading {
    font-weight: 300;
    letter-spacing: .2em;
    line-height: 5vh;
    padding-bottom: .8vh;
}

#place {
    color: grey;
    font-size: .85em;
    letter-spacing: .08em;
    line-height: 2.5vh;
    padding-bottom: 1vh;
    padding-top: 0;
}


/* XL XL XL XL XL XL XL XL XL XL XL XL */
/* XL XL XL XL XL XL XL XL XL XL XL XL */
@media (min-width: 1200px) {
    #fwd {
        right: 20vw;
    }
    #prev {
        left: 20vw;
    }

    nav {
        margin: 0 25vw;
    }
    #topRow {
        padding: 2vh 0 0 0;
    }
    #sam {
        font-size: 1.95vw;
        padding: 0;
    }
    #osu {
        padding: .5vh 0 0 0;
    }
    #osu,
    #vitaLite {
        font-size: 1.1vw;
    }

    .nav {
        padding: 12.5vh 0 1vh 0;
    }
    #nav {
        font-size: 1.25vw;
    }

    .samHead {
        margin: 3vh 0 0 0;
    }
    #samHead {
        width: 12.5vw;
    }

    h1 {
        font-size: 2.25vw;
    }
    h2 {font-size: 1.9vw;}
    #subheading {
        font-size: 1.5vw;
    }
    #summary {
        font-size: 1.95vh;
        letter-spacing: .05em;
    }
    #line {
        font-size: 2vh;
    }
}

/* XL XL XL XL XL XL XL XL XL XL XL XL */
/* XL XL XL XL XL XL XL XL XL XL XL XL */


/* LARGE LARGE LARGE LARGE LARGE LARGE */
/* LARGE LARGE LARGE LARGE LARGE LARGE */
@media (min-width: 992px) and (max-width: 1199px) {
    #fwd {
        right: 20vw;
    }

    #prev {
        left: 20vw;
    }
    nav {
        margin: 0 25vw;
    }
    #topRow {
        padding: 2vh 0 0 0;
    }

    .nav {
        padding: 12.5vh 0 1vh 0;
    }

    #nav {
        font-size: 1.35vw;
    }

    #sam {
        font-size: 2vw;
    }

    #osu {
        padding-top: .5vh;
    }

    #osu,
    #vitaLite {
        font-size: 1.3vw;
    }

    #samHead {
        width: 15vw;
        margin: 0vh;
    }

    h1 {
        font-size: 2.5vw;
    }
    h2 {font-size: 1.9vw;}

    #summary {
        padding-top: 5vh;
        font-size: 1.25vw;
        letter-spacing: .05em;
    }

    #line {
        font-size: 1.25vw;
    }
}

/* LARGE LARGE LARGE LARGE LARGE LARGE */
/* LARGE LARGE LARGE LARGE LARGE LARGE */


/* MED MED MED MED MED MED MED MED MED */
/* MED MED MED MED MED MED MED MED MED */
@media (min-width: 768px) and (max-width: 991px) {
    #fwd {
        right: 3vw;
    }
    #prev {
        left: 3vw;
    }

    nav {
        margin: 0 8.5vw;
    }
    #topRow {
        padding: 2vh 0 0 0;
    }
    #sam {
        font-size: 3.5vw;
    }
    #osu {
        padding-top: .65vh;
    }
    #osu, #vitaLite {
        font-size: 1.75vw;
    }

    .nav {
        padding: 5vh 0 1vh 0;
    }
    #nav {
        font-size: 1.9vw;
    }

    #samHead {
        width: 20vw;
        margin: 0vh;
    }

    h1 {
        padding-top: 5vh;
        font-size: 2.75vw;
    }
    h2 {font-size: 2.2vw;}

    #summary {
        padding-top: 5vh;
        font-size: 2vh;
        letter-spacing: .05em;
    }

    #line {
        font-size: 1.5vw;
    }
}

/* MED MED MED MED MED MED MED MED MED */
/* MED MED MED MED MED MED MED MED MED */


/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
@media (min-width: 576px) and (max-width: 767px) {
    #fwd {
        right: 3vw;
    }
    #prev {
        left: 3vw;
    }

    nav {
        margin: 0 8.5vw;
    }
    #topRow {
        padding: 2vh 0 0 0;
    }
    #osu,  #vitaLite {
        font-size: 2.25vw;
    }
    #sam {
        font-size: 3.75vw;
    }
    .nav {
        padding: 5vh 0 1vh 0;
    }
    #nav {
        font-size: 1.75vh;
    }

    #samHead {
        width: 20vw;
        margin: 0vh;
    }

    h1 {
        padding-top: 5vh;
        font-size: 3.5vw;
    }
    h2 {font-size: 2.5vw;}

    #summary {
        padding-top: 5vh;
        font-size: 2vh;
        letter-spacing: .05em;
    }

    #line {
        font-size: 2.25vw;
    }
}

/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
/* SSSSSSSSSSSSSSSSSSSSSSSSSS5SSSSSSSSS */


/* XS XS XS XS XS XS XS XS XS */
/* XS XS XS XS XS XS XS XS XS */
@media (max-width: 575px) {
    #fwd {
        display: none;
    }

    #prev {
        display: none;
    }
    nav {
        margin: 0;
    }
    #topRow {
        padding: 2vh 2vw 0 2vw;
    }   
    #osu,  #vitaLite {
        font-size: 3vw;
    }
    #sam {
        font-size: 4vw;
    }

    ul {
        margin: 0 2vw;
    }
    .nav {
        padding: 5vh 0 1vh 0;
    }
    #nav {
        font-size: 2.85vw;
    }
    #samHead {
        margin: 0vh;
        width: 30vw;
    }

    h1 {
        padding-top: 5vh;
        font-size: 4.75vw;
    }
    h2 {font-size: 4vw;}

    #summary {
        padding-top: 5vh;
        font-size: 1.9vh;
        letter-spacing: .05em;
    }
    #line {
        font-size: 2.75vw;
    }
}

/* XS XS XS XS XS XS XS XS XS */
/* XS XS XS XS XS XS XS XS XS */