/* {
    border: solid black .005px;
}*/
body {
    /* font-family: "Gill Sans"; */
    /* font-family: "Helvetica Neue"; */
    /* font-family: "Calibri"; */
    font-family: "Avenir Next";
}
.navbar, .container-fluid, .row, .col, [class*='col-'] {
    margin: 0; padding: 0;
}
.scrolling-wrapper, .card, .container-fluid  {
    height: 100vh;
}
.scrolling-wrapper, .card, .container-fluid {
    /*background-color: rgb(206, 220, 226);*/
    /*background: url("grungeWall.png");*/
    background: url("filterLong.png");
    background-size: cover;
}
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-margin: 0;
    scroll-padding: 0;
    width: 100vw;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.card {
      display: inline-block;
      overflow-y: hidden;
    width: 100vw;
    white-space: normal;
}
.container-fluid {
    width: 100vw;
    scroll-snap-align: end;
}

/* nav */
.navbar {
    background: url("filterLong.png");
    background-size: cover;
    position: fixed;
    z-index: 1;
    letter-spacing: .2vw;
}
#osu, #vitaLite {
    float: right;
    letter-spacing: .18vw;
}
.navbar a {
    color: black;
    font-weight: 250;
}
.nav {
    border-bottom: grey solid 1px;
}
#sam {
    color: rgb(38, 33, 70);
    text-align: left;
}
.samHead {
    background-image: url("agCircles.jpg");
    /*background-image: url("irrigate.jpg");*/
    /*background-image: url("oasis.jpg");*/
    background-size: cover;
}
#ul {
    display: flex;
    justify-content: space-between;
}
/* nav */

#summary {
    padding-top: 2.5vh;
}
#goto1, #goto2 {
    display: block; 
}
#line {
    letter-spacing: .109em;
    line-height: 1.2em;
    font-size: 2vh;
    margin-bottom: 1.25vh;
}
#scholar {
    letter-spacing: .2em;
    line-height: 1.1em;
    margin-bottom: 1.25vh;
}
h1 {
    color: rgb(70, 70, 70);
    font-weight: 250;
    letter-spacing: .2em;
}
#subheading {
    font-weight: 300;
    letter-spacing: .2em;
    line-height: 5vh;
    padding-bottom: .8vh;
}
#place {
    color: grey;
    font-size: .85em;
    letter-spacing: .08em;
    line-height: 2.5vh;
    padding-bottom: 1vh;
    padding-top: 0;
}
#bottom {
    padding-bottom: 25vh;
}

/* XL XL XL XL XL XL XL XL XL XL XL XL */
/* XL XL XL XL XL XL XL XL XL XL XL XL */
@media (min-width: 1200px) {
    .navbar {
        margin: 0 25vw;
    }
    #top {
        padding: 2vh 0 0 0;
    }
    #ul {
        padding: 5vh 0 1vh 0;
        width: 49.45vw;
    }
    #nav {
        font-size: 1.25vw;
    }
    #osu {
        padding-top: .5vh;
    }
    #osu, #vitaLite {
        font-size: 1.1vw;
    }
    #xlImg {
        margin-top: 22.5vh;
        height: 25vh;
        background-image: url("agCircles.jpg");
        /*background-image: url("irrigate.jpg");*/
        /*background-image: url("oasis.jpg");*/
        background-size: cover;
     }
     #sam {
         font-size: 1.95vw;
     }
    .samHead {
        background-image: none;
        margin: 3vh 0 0 0;
    }
    #samHead {
        width: 12.5vw;
    }
    #goto1 {
        margin-top: 1vh;
    }
    #goto2 {
        margin-top: 27.5vh;
    }
    h1 {
        font-size: 2.25vw;
    }
    #subheading {
        font-size: 1.5vw;
    }
    #summary {
        font-size: 2vh;
        letter-spacing: .05em;
    }
    #line {
        font-size: 2vh;
    }
}
/* XL XL XL XL XL XL XL XL XL XL XL XL */
/* XL XL XL XL XL XL XL XL XL XL XL XL */


/* LARGE LARGE LARGE LARGE LARGE LARGE */
/* LARGE LARGE LARGE LARGE LARGE LARGE */
@media (min-width: 992px) and (max-width: 1199px) {
    .navbar {
        margin: 0 25vw;
    }
    #top {
        padding: 2vh 0 0 0;
    }
    #ul {
        padding: 5vh 0 1vh 0;
        width: 49.25vw;
    }
    #nav {
        font-size: 1.5vw;
    }
    #sam {
        font-size: 2vw;
    }
    #osu {
        padding-top: .5vh;
    }
    #osu, #vitaLite {
        font-size: 1.3vw;
    }
    .xlHead {
        display: none;
    }
    #samHead {
        width: 15vw;
        margin: 0vh;
    }
    #goto1,
    #goto2 {
        margin-top: 17.5vh;
    }
    h1 {
        font-size: 2.5vw;
    }
    #summary {
        padding-top: 5vh;
        font-size: 1.25vw;
        letter-spacing: .05em;
    }
    #line {
        font-size: 1.25vw;
    }
}
/* LARGE LARGE LARGE LARGE LARGE LARGE */
/* LARGE LARGE LARGE LARGE LARGE LARGE */


/* MED MED MED MED MED MED MED MED MED */
/* MED MED MED MED MED MED MED MED MED */
@media (min-width: 768px) and (max-width: 991px) {
    .navbar {
        margin: 0 8.25vw;
    }
    #top {
        padding: 2vh 0 0 0;
    }
    #sam {
        font-size: 3.5vw;
    }
    #ul {
        padding: 5vh 0 1vh 0;
        width: 82.5vw;
    }
    #nav {
        font-size: 1.9vw;
    }
    #osu {
        padding-top: .65vh;
    }
    #osu, #vitaLite {
        font-size: 1.75vw;
    }
    .xlHead {
        display: none;
    }
    #samHead {
        width: 20vw;
        margin: 0vh;
    }
    #goto1,
    #goto2 {
        margin-top: 17.5vh;
    }
    h1 {
        padding-top: 5vh;
        font-size: 2.75vw;
    }
    #summary {
        padding-top: 5vh;
        font-size: 2vh;
        letter-spacing: .05em;
    }
    #line {
        font-size: 1.5vw;
    }
}
/* MED MED MED MED MED MED MED MED MED */
/* MED MED MED MED MED MED MED MED MED */


/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
@media (min-width: 576px) and (max-width: 767px) {
    .navbar {
        margin: 0 8.5vw;
    }
    #top {
        padding: 2vh 0 0 0;
    }
    #ul {
        padding: 5vh 0 1vh 0;
        width: 81.25vw;
    }
    #nav {
        font-size: 2.2vh;
    }
    #osu, #vitaLite {
        font-size: 2.25vw;
    }
    #sam {
        font-size: 3.75vw;
    }
    .xlHead {
        display: none;
    }
    #samHead {
        width: 20vw;
        margin: 0vh;
    }
    #goto1,
    #goto2 {
        margin-top: 15vh;
    }
    h1 {
        padding-top: 5vh;
        font-size: 3.5vw;
    }
    #summary {
        padding-top: 5vh;
        font-size: 2.25vh;
        letter-spacing: .05em;
    }
    #line {
        font-size: 2.25vw;
    }
}
/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
/* SSSSSSSSSSSSSSSSSSSSSSSSSS5SSSSSSSSS */


/* XS XS XS XS XS XS XS XS XS */
/* XS XS XS XS XS XS XS XS XS */
@media (max-width: 575px) {
    #top {
        padding: 2vh 2vw 0 2vw;
    }
    .nav {
        margin: 0 2vw;
    }
    #ul {
        padding: 5vh 0 0.25vh 0;
        width: 95vw;
    }
    #nav {
        font-size: 3.25vw;
    }
    h1 {
        font-size: 7.5vw;
    }
    #osu, #vitaLite {
        font-size: 3.2vw;
    }
    #sam {
        font-size: 4.5vw;
    }
    .xlHead {
        display: none;
    }
    #samHead {
        margin: 0vh;
        width: 30vw;
    }
    #profile, #pub, #research, #teach, #contact {
        padding-left: 2.5vw;
        padding-right: 2.5vw;
    }
    #goto1,
    #goto2 {
        margin-top: 15vh;
    }
    h1 {
        padding-top: 5vh;
        font-size: 4.75vw;
    }
    #summary {
        padding-top: 5vh;
        font-size: 2.25vh;
        letter-spacing: .05em;
    }
    #line {
        font-size: 2.75vw;
    }
}
/* XS XS XS XS XS XS XS XS XS */
/* XS XS XS XS XS XS XS XS XS */
